[Unit]
Description=Terraria Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a terraria
ExecStop=/usr/bin/docker stop -t 2 terraria

[Install]
WantedBy=default.target
